body{
    background-color: blueviolet;
    display: flex;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

#main{
    display: flex;
    flex-direction: column;
    background-color: aliceblue;
    width: 50rem;
    height: 40rem;
    align-items: center;

}

#add{
    background-color: greenyellow;
    color: white;
    border: none;
    width: 100px;
}

#todo{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: 600;
    color: red;
    font-size: 30px;
}