:root{
    --secundary: #CA4FDB;
    --thirdiary: #4FDBB5;
    --primary: #DBB74F;
}

*{
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

body{
    background-color: var(--primary);
    display: flex;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
}

#main{
    display: flex;
    flex-direction: column;
    background-color: aliceblue;
    width: 50rem;
    height: 40rem;
    align-items: center;
    border: solid rgb(221, 227, 233) 2px;
}

#tips{
    display: flex;
    position: absolute;
    top: 54rem;
    right: 100rem;
    color: #341438;
}
#add{
    background-color: var(--thirdiary);
    color: white;
    border: none;
    width: 100px;
    font-size: 20px;
    margin-left: 10px;
    cursor: pointer;
}

#inputbox{
    width: 12rem;
    font-size: 15px;
}

#sec{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin-bottom: 10px;

}

#todo{
    font-weight: 600;
    color: var(--secundary);
    font-size: 70px;
}

.item{
    color: #6AD13B;
    cursor: pointer;
    font-size: 20px;
    
}

.item:hover{
    border: 1px solid black;
    color: #3bd17a;
    transition: ease;
    transform: translateY(-2px);
    font-weight: bolder;
}

.item:active{
    color: #99d4b2;
}

